<div class="container">
  <div class="header-text">
    <h2>Напишите нам</h2>
  </div>
  <form action="/" method="post" [formGroup]="form">
    <ul>
      <li class="input-name">
        <label for="name">Ваше имя:</label>
        <input [formControl]="name" id="name" type="text" name="user_name">
      </li>
      <li class="input-email">
        <label for="email">Ваш Email:</label>
        <input [formControl]="email" id="email" name="user_email">
      </li>
      <li class="input-phone">
        <label for="phone">Ваше телефон:</label>
        <input [formControl]="phone" id="phone" type="tel" [textMask]="{mask: phoneMask}" name="user_phone"
          placeholder="8(___)___-__-__">
      </li>
      <li>
        <label for="tema">Тема:</label>
        <select name="tema" id="tema">
          <option value="">Техподдержка</option>
          <option value="">Продажи</option>
          <option value="">Другое</option>
        </select>
      </li>
      <li>
        <label for="msg">Ваше сообщение:</label>
        <textarea name="user_msg" id="msg"></textarea>
      </li>
      <app-re-captcha></app-re-captcha>
      <button type="submit">Отправить письмо!</button>
    </ul>
  </form>
</div>
